/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #f3e7e9, #e3eeff);
  color: #333;
  background: fixed;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #4a00e0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color:blue;
  font-size: 16px;
  transition: color 0.3s;
}

nav ul li  {
  color: #4a00e0;
  font-weight: bold;
}

.btn-hire {
  background: #4a00e0;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}

.btn-hire:hover {
  background: #3800b2;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 10%;
}

.content {
  max-width: 50%;
}

.content p:first-child {
  font-size: 18px;
  color: #4a00e0;
  margin-bottom: 10px;
}

.content h1 {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.content h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.btn-download {
  display: inline-block;
  padding: 10px 20px;
  background: #4a00e0;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}

.btn-download:hover {
  background: #3800b2;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
